.main {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  padding: 0rem;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.profileSummary {
  margin-top: -12rem;
  margin-left: 17rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  align-content: space-between;
  margin: 10rem 15rem 10rem 15rem;
  min-width: 500px;
  min-height: 1200px;
}


.container::-webkit-scrollbar {
  display: none;
}

.containerItem {
  background-color: cadetblue;
}

.containerItem1 {
  min-width: 500px;
  min-height: 800px;
  margin: 50px 50px 50px 50px;
  width: 75%;
}

.containerItem2 {
  flex-direction: row;
  min-width: 300px;
  min-height: 800px;
  margin: 50px 50px 50px 50px;
  width: 10%;
}

.containerItem3 {
  flex-direction: row;
  min-width: 300px;
  min-height: 500px;
  margin: 50px 50px 50px 50px;
  width: 100%;
}

.containerItem4 {
  flex-direction: row;
  justify-content: space-around;
  min-width: 300px;
  min-height: 500px;
  margin: 0px 50px 0px 50px;
  width: 100%;
}

.cardRow {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.cardRow div {
  flex-grow: 1 0 40%;
}

.gameAccounts {
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  /* position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0rem;
  padding-bottom: 10rem;
  padding-right: 38%;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  background: rgba(var(--card-rgb), 0.1); */
}

.gameAccountItem {
  padding: 20px 0px 10px 20px;
  align-items: left;
  overflow-y: hidden;
  overflow-x: hidden;
  /* float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none; */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  min-height: 100vh;
}


.menu {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  z-index:1;
  margin-bottom: 10%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-color: #0d0d0d;
}

.menuItem {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

.menuItem2 {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: 1px solid #bbb;
}

.active {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
  background-color: #AAAAAA;
}

.menu:last-child {
  border-right: none;
}

.description {
  padding-top: 14px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-family);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: left;
  margin: 0;
  text-align: left;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.profileImage {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:200px;
  height:200px;
  z-index: 0;
  border-radius: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.sub {
  display: flex;
}

.heading {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  padding: 0rem;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 50rem;
}
.grid {
  display: grid;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5rem;
}

.profile {
  display: grid;
  max-width: 75%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5rem;
  background-color: #333;
  overflow-y: hidden;
  overflow-x: hidden;
}

.profileGrid {
  display: grid;
  max-width: 85%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.card {
  padding: 25px;
  margin: 20px 5px 0px 5px;
  width: 500px;
  height: 400px;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  background: rgba(var(--card-rgb), 0.1);
  min-height: 400px;
  min-width: 500px;
  
}

.teamCard {
  padding: 25px;
  margin: 20px 5px 0px 5px;
  width: 500px;
  height: 100px;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  background: rgba(var(--card-rgb), 0.1);
  min-height: 100px;
  min-width: 500px;
}

.orgCard {
  padding: 25px;
  margin: 20px 5px 0px 5px;
  width: 500px;
  height: 200px;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  background: rgba(var(--card-rgb), 0.1);
  min-height: 100px;
  min-width: 500px;
}

.orgCard textarea {
  resize: none;
}

.credCard {
  padding: 25px;
  width: 1000px;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  background: rgba(var(--card-rgb), 0.1);
  display: flex;
  flex-direction: row;
}

.credCard div {
  padding: 25px;
  width: 500px;
  height: 400px;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  min-height: 400px;
  min-width: 500px;
}

.credCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  min-height:100%;
  vertical-align:middle;
  height: 100vh;
}



.pCard {
  padding: 25px;
  margin: 20px 10px 0px 10px;
  width: 300px;
  height: 350px;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  background: rgba(var(--card-rgb), 0.1);
}

.cardText {
  margin: 0;
  padding: 4rem 0rem;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 30ch;
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .pCard:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
